<%- include('../includes/head.ejs') %>
  <body>
      <!-- Nav starts -->
        <%- include('../includes/nav.ejs') %>
            <style>
            #className {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                overflow: auto;
            }</style>
            <header id="header" class="alt">
                <div class="inner">
                    <div class="container" style="text-align:center; margin-top: -50vmin;">  
                        <div class='form'> 
                            <form action="/login" method="POST"><br/>   
                                <h1> Login </h1><br/> 
                                <% if (message) { %>
                                <%= message %>
                                <% } %>            
                                <input class="box" type="email" name="email" id="email" 
                                placeholder="E-Mail" value="wdv@mailinator.com" required /><br> 
                    
                                <input class="box" type="password" name="password" 
                                id="password" placeholder="Password" value="12345678" required/><br> 
                    

                                <input class = 'button is-danger is-light'type="submit" id="submitDetails"  
                                name="submitDetails" value="Login" /><br> 
                                
                                <a href='forgotPass'>Forgot your password?</a>
                            </form>   
                        </div>                
                    </div>
                </div>
            </header>
    <!-- Wrapper -->
        <%- include('../includes/footer.ejs') %>
    <!-- Scripts -->
    <%- include('../includes/end.ejs') %>





