<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=view-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="shortcut icon" type="image/jpg" href="../../outputDir/favicon.ico"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <style>
      section{
        display : flex;
        flex-direction: row;
        column-gap: 20px;
      }

      .profileBox{
        flex: 1 auto;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 20px;
      }
      .imageDiv{
        flex: 2 auto;
      }
      
      .imageBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
      }


    </style>
      <!-- Nav starts -->
        <%- include('../includes/nav.ejs') %>
        <header id="header" class="alt">
          <div class="inner">
          <section>
            <div class="profileBox">
                  <h2>Hello, <%= user.username %></h2>
                    <form method="POST" enctype="multipart/form-data" id="submitImage"><br/>   
                        <h3> Edit Profile Image </h3><br/>             
                        <div class="file">
                                <input class="file" accept="image/*" type="file" name="file" id="file" style='align-self: center'>

                        </div>
                        <input class = 'button is-danger is-light' type="submit" id="submit"
                            name="submit" value="Submit" /><br>
                    </form><br/>
                    
                    <a class="button" href='/editprofile'>Edit Profile</a>  
                    <a class="button" href='/editsettings'>Settings</a>  
                </div>

                <!-- if button is pressed initialise code. look at ejs syntax -->
                
                  
                    <div class="imageDiv">
                      <h1>Images</h1>
                      <box class="imageBox"><img alt="This is the first image">
                        <img alt="This is the second image">
                        <img alt="This is the third image">
                        <img alt ="This is the fourth image">
                        <img alt="This is the fifth image">
                    </box>
                    </div>
                    </section>
                    
                    <div class="bioDiv">
                      <h1>Bio</h1>
                      <box class="profileDetails">
                        <h5>First Name Last Name Age</h5>
                        <p>Gender and Interests</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, omnis beatae illum ipsam quidem optio ratione recusandae temporibus magnam quia obcaecati impedit natus perspiciatis eveniet et perferendis ea nobis facilis?</p>
                        <p>tags</p>
                        <h5>Location</h5>
                      </box>
                    </div>

                </div>
                <script>
                    document.getElementById("submit").onclick = function (event) {
                        event.preventDefault();
                        
                        var file = document.getElementById("file").files[0];

                        var reader = new FileReader;
                        reader.readAsDataURL(file);
                        // image = reader.result;
                        reader.onload = function () {
                            console.log(reader.result);
                        };
                        reader.onerror = function (error) {
                            console.log('Error: ', error);
                        };

                        $.ajax({
                            url:'/uploadProfilePicture',
                            type: '/post/',
                            dataType: 'json',
                            success: (reader.result) => {
                                console.log(image);
                            }
                        })
                    }
                </script>
            </header>

  </body>
    <!-- Wrapper -->
        <%- include('../includes/footer.ejs') %>
    <!-- Scripts -->
        <%- include('../includes/end.ejs') %>




