<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=view-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../assets/css/account.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="shortcut icon" type="image/jpg" href="../../outputDir/favicon.ico"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
      <!-- Nav starts -->
        <%- include('../includes/nav.ejs') %>
            <header id="header" class="alt">
                <h2>Hello, <a href='/test'><%= user %></a></h2>
                <div style='position:absolute;left:32px;top:32px'>
                    <form method="POST" enctype="multipart/form-data" id="submitImage"><br/>   
                        <h3> Edit Profile Image </h3><br/>             
                        <div class="file">
                                <input class="file" accept="image/*" type="file" name="file" id="file" style='align-self: center'>

                        </div>
                        <input class = 'button is-danger is-light' type="submit" id="submit"
                            name="submit" value="Submit" /><br>
                    </form><br/>
                    
                    <a class="button" href='/editprofile'>Profile</a>  
                    <a class="button" href='/editsettings'>Settings</a>  
                </div>

                <!-- if button is pressed initialise code. look at ejs syntax -->
                <div class="inner">
                                 
                </div>
                <script>
                    document.getElementById("submit").onclick = function (event) {
                        event.preventDefault();
                        
                        var file = document.getElementById("file").files[0];

                        var reader = new FileReader;
                        reader.readAsDataURL(file);
                        // image = reader.result;
                        reader.onload = function () {
                            console.log(reader.result);
                        };
                        reader.onerror = function (error) {
                            console.log('Error: ', error);
                        };

                        $.ajax({
                            url:'/uploadProfilePicture',
                            type: '/post/',
                            dataType: 'json',
                            success: (reader.result) => {
                                console.log(image);
                            }
                        })
                    }
                </script>
            </header>
    <!-- Wrapper -->
        <%- include('../includes/footer.ejs') %>
    <!-- Scripts -->
        <%- include('../includes/end.ejs') %>




