<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/css/account.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <%- include('../includes/nav.ejs') %> -->
  </head>
  <body>
      <!-- Nav starts -->
        <%- include('../includes/nav.ejs') %>



        
        <header id="header" class="alt">
            <!-- <form action="/matches" method="POST">
              <div style="width:180px;">
                Tags<input  type="text" name="tags" value="1" style="
                width: 10vw;display: flex;margin: auto;">Fame
                <input class="asdf" type="text" name="fame" value="0" style="
                width: 10vw;display: flex;margin: auto;">Distance (KM)
                <input class="asdf" type="text" name="distance" value="100" style="
                width: 10vw;display: flex;margin: auto;">Age
                <input class="asdf" type="text" name="age" value="18" style="
                width: 10vw;display: flex;margin: auto;">
                <input class="asdf" type="submit"></input>
              </div>
            </form> -->
  
                <div class="inner">
   
                    <% for (var i of userdata) { %>
                      <div class="box" style=" display: flex;overflow:hidden;">
                        <article class="media">
                          
                          <div class="media-left">
                            <figure class="image is-64x64">
                              <img src="<%=i.pp%>" alt="Image">
                            </figure>
                          </div>
                          
                          <div class="media-content">
                            
                            <div class="content">
                              
                              <p><strong>Name: <%= i.firstname.slice(0,1).toUpperCase()+i.firstname.slice(1) %> <p>Gender: <%= i.gender.slice(0,1).toUpperCase()+i.gender.slice(1) %></p><p>Age: <%= i.age %></p><p>Distance: <%= i.dist %></p></strong></p>
                              <!--  -->
                              <div style='text-align: center;'>
                                <form action="/matches" method="post">
                                  <button style='max-width: 35%;min-width: 35%;'>
                                    <nav >
                                      <div >
                                        <a aria-label="match">
                                          <span class="icon is-small">
                                            <input type="hidden" value="<%= i.hash %>" name="hash"/>
                                            <i type="submit" class="fas fa-heart" aria-hidden="true"></i>
                                          </span>
                                        </a>
                                      </div>
                                    </nav>
                                  </button>
                                </form>
                              </div>
                              <!--  -->
                            </div>
                          </div>
                        </article>
                      </div>
                      <% } %>
                </div>
            </header>
    <!-- Wrapper -->
        <%- include('../includes/footer.ejs') %>
    <!-- Scripts -->
    <%- include('../includes/end.ejs') %>







