<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/css/account.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="shortcut icon" type="image/jpg" href="../../outputDir/favicon.ico"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <%- include('../includes/nav.ejs') %> -->
  </head>
  <body>
      <!-- Nav starts -->
        <%- include('../includes/nav.ejs') %>

        <!-- <%- i = 0; %> -->
        <!-- %= while (userdata[0]) {%> -->
        <div class="box" style="width: 50vw; display: flex; margin: auto;">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="image/<%= userdata[0].pp %>" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= userdata[0].firstname %> <%= userdata[0].lastname %></strong> <small><%= userdata[0].gender %></small>
                  <br>
                      <%= userdata[0].bio %>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
        <!-- <%= i++; %> -->

            <header id="header" class="alt">
                <!-- if button is pressed initialise code. look at ejs syntax -->
                <div class="inner">
                </div>
            </header>
    <!-- Wrapper -->
        <%- include('../includes/footer.ejs') %>
    <!-- Scripts -->
    <%- include('../includes/end.ejs') %>







